<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ufscar.br/sas/xtext/sasdsl/SasDsl"
			class = "br.ufscar.sas.xtext.sasdsl.sasDsl.SasDslPackage"
			genModel = "model/generated/SasDsl.genmodel" />
	</extension>
</plugin>
